* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
  font-family: "Poppins", sans-serif;
  line-height: 1.6;
  background-repeat: no-repeat;
  padding: 0x;
  margin: 0;
}

nav {
  align-items: center;
  margin: 1% auto;
  justify-content: space-between;
  width: 80%;
  display: flex;
}
nav .links {
  display: flex;
}
nav .links a {
  padding: 10px;
  text-decoration: none;
}

footer {
  margin: 0 auto;
  justify-content: space-between;
  width: 80%;
  display: flex;
  align-items: center;
}
footer .links-3 {
  display: flex;
  margin-left: 45%;
  justify-content: space-evenly;
  width: 40px;
  padding: 10px;
}
footer .links-3 a {
  padding: 10px;
  text-decoration: none;
}
footer ul {
  display: flex;
}
footer ul li {
  list-style: none;
  padding: 10px;
}

.image {
  margin: 0 auto;
  display: block;
  margin-bottom: 7vh;
  width: 80%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 10px;
}

.section-1 {
  align-items: center;
  margin: 0 auto;
  justify-content: space-between;
  width: 80%;
  margin-bottom: 8%;
  display: flex;
}
.section-1 .title {
  width: 673px;
  height: 251px;
  margin-top: 87px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.section-1 .title .shooting-stars {
  color: #4a4ff2;
  text-align: left;
  font-weight: bold;
  font-size: 20px;
}
.section-1 .title .hello-i-m-bakhtiyar {
  text-align: left;
  color: #111111;
  font: 700 40px/60px "Mulish", sans-serif;
}
.section-1 .title .hello-i-m-bakhtiyar span {
  color: #4a4ff2;
}
.section-1 .design-is-about-prog {
  color: #111111;
  text-align: left;
  margin-top: 20%;
}

.section-3 {
  justify-content: space-between;
  width: 80%;
  margin: 50px auto;
  display: flex;
}
.section-3 .text-2 {
  color: #111111;
  text-align: left;
  font: 700 28px/38px "Mulish", sans-serif;
  width: 635px;
  height: 106px;
}

.section-4 {
  align-items: center;
  margin: 50px auto;
  justify-content: space-between;
  width: 80%;
  display: flex;
  flex-direction: column;
}
.section-4 .line-1 {
  display: flex;
  width: 100%;
  margin-bottom: 5%;
  justify-content: space-between;
}
.section-4 .line-1 .awwwards {
  color: #111111;
  font: 700 22px "Mulish", sans-serif;
}
.section-4 .line-1 .genesis-ui-kit {
  width: 201px;
  align-self: flex-start;
  padding-bottom: 10px;
}
.section-4 .line-1 .genesis-ui-kit .__1 {
  font-weight: bold;
}
.section-4 .line-1 .site-of-the-day-copy {
  font-weight: bold;
}
.section-4 .line-2 {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}
.section-4 .line-2 .genesis-template {
  width: 13%;
  margin-right: 23%;
}
.section-4 .line-2 .genesis-template .__1 {
  font-weight: bold;
}

.section-5 {
  align-items: center;
  margin: 50px auto;
  justify-content: space-between;
  width: 80%;
  display: flex;
  flex-direction: column;
}
.section-5 .line-1 {
  display: flex;
  width: 100%;
  margin-bottom: 10%;
  flex-wrap: wrap;
  justify-content: space-between;
}
.section-5 .line-1 .cssdesign {
  color: #111111;
  font: 700 22px "Mulish", sans-serif;
}
.section-5 .line-1 .genesis-ui-kit {
  width: 201px;
  align-self: flex-start;
  padding-bottom: 10px;
}
.section-5 .line-1 .genesis-ui-kit .__1 {
  font-weight: bold;
}
.section-5 .line-1 .site-of-the-day-copy {
  font-weight: bold;
}
.section-5 .line-2 {
  display: flex;
  width: 100%;
  /* margin-left: 52%; */
  justify-content: flex-end;
}
.section-5 .line-2 .genesis-template {
  width: 13%;
  margin-right: 23%;
}
.section-5 .line-2 .genesis-template .__1 {
  font-weight: bold;
}/*# sourceMappingURL=index.css.map */